spring.jpa.hibernate.ddl-auto=update
spring.datasource.url=jdbc:postgresql://xx.xx.xx.xx/database_name
spring.datasource.username=postgres
spring.datasource.password=12345

security.sign-key=9768A631186D216BE3D82E392FFD4321
logging.level.root=info
